/*
$breakpoint argument choices:
-phone 600px
-tab-port 900px
-tab-land 1000px
-big-desktop 1800px
*/
/*********************************************
**********************************************
GENERAL CSS, UNIVERSAL AND COMMON CSS 
*********************************************
**********************************************/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 40%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 40%; } }
  @media (mix-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  background-color: #ebfff8;
  position: relative;
  /* IMPORTANT A PADDING AROUND THE WHOLE BODY , ITS NOT A INHEIRT PROPERTY */ }

::selection {
  background-color: #611169;
  color: #e7ebef; }

/*********************************************
**********************************************
FADE IN OUT ANIMATION ,*KEY FRAMES* IMPORTANT
*********************************************
**********************************************/
@keyframes movInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10.2rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes movInRight {
  0% {
    opacity: 0;
    transform: translateX(-12rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes btnAnimation {
  0% {
    opacity: 0;
    transform: translateY(12rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.fade-in-from-0 {
  opacity: 0;
  transform: translateX(-10rem); }
  @media (max-width: 37.5em) {
    .fade-in-from-0 {
      opacity: 1;
      transform: none; } }

.fade-in-from-1 {
  opacity: 0;
  transform: translateX(10rem); }
  @media (max-width: 37.5em) {
    .fade-in-from-1 {
      opacity: 1;
      transform: none; } }

.fade-in-up {
  opacity: 0;
  transform: translateY(7rem); }
  @media (max-width: 37.5em) {
    .fade-in-up {
      opacity: 1;
      transform: none; } }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #343a40; }

.navbar__link:link, .navbar__link:visited {
  text-decoration: none;
  font-family: "josefin Sans", sans-serif;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600;
  transition: opacity 700ms, transform 200ms;
  transition-timing-function: ease-out;
  color: #630a10; }
  @media (max-width: 37.5em) {
    .navbar__link:link, .navbar__link:visited {
      font-size: 2.5rem; } }

.navbar__link:hover, .navbar__link:active {
  border-bottom: 2px solid #630a10;
  transform: scale(1.01); }

.navbar__contact:link, .navbar__contact:visited {
  margin-left: auto;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #630a10;
  font-size: 1.6rem;
  font-weight: 600; }

.navbar__contact-icon {
  font-size: 2rem;
  font-weight: 600;
  color: #630a10;
  fill: #630a10; }

.heading-1 {
  color: #630a10;
  font-family: "Grape Nuts", sans-serif;
  font-size: 5rem;
  letter-spacing: 2px;
  line-height: 1.1;
  white-space: normal; }
  @media (max-width: 75em) {
    .heading-1 {
      font-size: 4.6rem; } }

.heading-2 {
  color: #ebfff8;
  font-family: "Grape Nuts", sans-serif;
  font-size: 4rem;
  letter-spacing: 3px;
  line-height: 1.1;
  white-space: normal;
  text-align: center; }
  @media (max-width: 75em) {
    .heading-2 {
      font-size: 4rem; } }

.para-1 {
  white-space: normal;
  text-align: center;
  color: #630a10;
  font-size: 2.2rem;
  letter-spacing: 0.8px; }
  @media (max-width: 75em) {
    .para-1 {
      font-size: 2rem; } }

.para-2 {
  margin: 7rem auto;
  margin-bottom: 3rem;
  white-space: normal;
  text-align: center;
  color: #ebfff8;
  font-size: 2rem;
  letter-spacing: 0.8px;
  width: 40ch; }
  @media (max-width: 37.5em) {
    .para-2 {
      font-size: 2.2rem; } }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 6rem !important; }

.u-margin-bottom-huge {
  margin-bottom: 9.6rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 6rem !important; }

.u-margin-top-huge {
  margin-top: 9.6rem !important; }

.container {
  display: grid;
  grid-template-columns: repeat(40, 2.5%);
  grid-template-rows: repeat(7, min-content);
  row-gap: 0.1rem; }
  @media (max-width: 37.5em) {
    .container {
      grid-template-rows: min-content max-content min-content max-content min-content min-content min-content max-content min-content max-content min-content max-content min-content;
      row-gap: 0; } }

.hero-img {
  grid-column: 1/21;
  grid-row: 1/1;
  width: 100%; }
  @media (max-width: 37.5em) {
    .hero-img {
      grid-column: 1/-1;
      grid-row: 1/1; } }

.hero {
  grid-column: 21/-1;
  grid-row: 1/1;
  background-color: #fcf0c8;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: 30% 70%;
  row-gap: 0.5rem;
  justify-content: center;
  align-content: center;
  padding: 3rem; }
  @media (max-width: 37.5em) {
    .hero {
      grid-column: 1/-1;
      grid-row: 2/2;
      grid-template-rows: 20% 80%; } }
  .hero__header {
    grid-column: 1/-1;
    grid-row: 1/1;
    align-self: end;
    justify-self: center; }
    @media (max-width: 37.5em) {
      .hero__header {
        align-self: center; } }
  .hero__btn {
    display: block; }
  .hero__para {
    grid-column: 1/-1;
    grid-row: 2/2;
    align-self: center;
    justify-self: center; }
    @media (max-width: 37.5em) {
      .hero__para {
        align-self: start; } }

.icetea__img {
  width: 100%;
  grid-column: 21/-1;
  grid-row: 2/2; }
  @media (max-width: 37.5em) {
    .icetea__img {
      grid-column: 1/-1;
      grid-row: 3/3; } }

.icetea__section {
  grid-column: 1/21;
  grid-row: 2/2;
  background-color: #fcf0c8;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: 20% 40%;
  row-gap: 0.5rem;
  justify-content: center;
  align-content: center;
  padding: 3rem; }
  .icetea__section h2 {
    grid-column: 1/-1;
    grid-row: 1/1;
    align-self: center;
    justify-self: center; }
    @media (max-width: 37.5em) {
      .icetea__section h2 {
        align-self: end; } }
  .icetea__section p {
    grid-column: 1/-1;
    grid-row: 2/2;
    justify-self: center;
    align-self: start; }
    @media (max-width: 37.5em) {
      .icetea__section p {
        align-self: end; } }
  @media (max-width: 37.5em) {
    .icetea__section {
      grid-column: 1/-1;
      grid-row: 4/4;
      grid-template-rows: 15% 85%; } }

.drink-1 {
  grid-column: 1 / 21;
  grid-row: 3/3;
  padding-right: 1.5rem; }
  @media (max-width: 37.5em) {
    .drink-1 {
      grid-column: 1/-1;
      grid-row: 5/5; } }

.drink-2 {
  grid-column: 21/-1;
  grid-row: 3/3;
  padding-left: 1.5rem; }
  @media (max-width: 37.5em) {
    .drink-2 {
      grid-column: 1/-1;
      grid-row: 6/6; } }

.drink {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: min-content max-content;
  justify-content: center;
  transition: transform 1s, opacity 1s;
  transition-timing-function: ease;
  padding-top: 3rem;
  padding-bottom: 3rem; }
  @media (max-width: 37.5em) {
    .drink {
      padding: 0;
      border-bottom: 5rem solid #fcf0c8; } }
  .drink__img {
    width: 100%;
    grid-column: 1/-1;
    grid-row: 1/1; }
  .drink__content {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    height: 40rem;
    background-image: linear-gradient(to left top, #402218, #462015, #4d1d13, #531a11, #5a1510, #5b1210, #5d0f10, #5e0b10, #5a0c10, #560d0f, #530d0f, #4f0e0e);
    grid-column: 1/-1;
    grid-row: 2/2; }
  .drink__btn {
    border: 1px solid currentColor !important; }
    .drink__btn:hover {
      color: #630a10 !important; }

.spicy {
  transition: transform 1s, opacity 1s;
  transition-timing-function: ease; }
  .spicy__img {
    width: 100%; }
    .spicy__img-1 {
      grid-column: 1/18;
      grid-row: 4/4; }
      @media (max-width: 37.5em) {
        .spicy__img-1 {
          grid-column: 1/-1;
          grid-row: 7/7; } }
    .spicy__img-2 {
      grid-column: -18/-1;
      grid-row: 5/5; }
      @media (max-width: 37.5em) {
        .spicy__img-2 {
          grid-column: 1/-1;
          grid-row: 9/9; } }
    .spicy__img-3 {
      grid-column: 1/18;
      grid-row: 6/6; }
      @media (max-width: 37.5em) {
        .spicy__img-3 {
          grid-column: 1/-1;
          grid-row: 11/11; } }
  .spicy__content {
    grid-column: 18/-1;
    grid-row: 4/4;
    background-color: #face7f;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .spicy__content-1 {
      grid-column: 18/-1;
      grid-row: 4/4; }
      @media (max-width: 37.5em) {
        .spicy__content-1 {
          grid-column: 1/-1;
          grid-row: 8/8; } }
    .spicy__content-2 {
      grid-column: 1/-18;
      grid-row: 5/5; }
      @media (max-width: 37.5em) {
        .spicy__content-2 {
          grid-column: 1/-1;
          grid-row: 10/10; } }
    .spicy__content-3 {
      grid-column: 18/-1;
      grid-row: 6/6; }
      @media (max-width: 37.5em) {
        .spicy__content-3 {
          grid-column: 1/-1;
          grid-row: 12/12; } }
    @media (max-width: 37.5em) {
      .spicy__content {
        padding: 3rem 0; } }
    .spicy__content h2,
    .spicy__content p {
      color: #630a10 !important; }

.tabbed {
  height: 100vh;
  grid-column: 1/-1;
  grid-row: 7/7;
  background-image: linear-gradient(to left top, #402218, #462015, #4d1d13, #531a11, #5a1510, #5b1210, #5d0f10, #5e0b10, #5a0c10, #560d0f, #530d0f, #4f0e0e);
  display: grid;
  grid-template-columns: repeat(20, 5%);
  justify-content: center;
  align-content: center; }
  @media (max-width: 37.5em) {
    .tabbed {
      grid-row: 13/13;
      height: 90vh; } }
  .tabbed__container {
    margin-top: 10rem;
    grid-column: 4 / 18;
    justify-self: center;
    align-self: center;
    height: max-content;
    background-image: linear-gradient(to right bottom, #ffffff, #fdfeff, #f8feff, #f3ffff, #eeffff, #eafffb, #e8fef5, #e8fdee, #e9fbe5, #edf8da, #f3f5d1, #fcf0c8);
    border-radius: 1rem;
    box-shadow: 0px 11px 8px 2px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 11px 8px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 11px 8px 2px rgba(0, 0, 0, 0.4); }
    @media (max-width: 37.5em) {
      .tabbed__container {
        grid-column: 3 / 19; } }
    @media (max-width: 37.5em) {
      .tabbed__container {
        height: 60vh; } }
  .tabbed__buttons {
    transform: translateY(-50%);
    display: flex;
    justify-content: space-evenly; }
    .tabbed__buttons-icon {
      font-size: 2.7rem; }
      @media (max-width: 37.5em) {
        .tabbed__buttons-icon {
          font-size: 4.5rem; } }
    .tabbed__buttons-text {
      margin-right: 0.8rem; }
      @media (max-width: 37.5em) {
        .tabbed__buttons-text {
          display: none; } }
    .tabbed__buttons-1, .tabbed__buttons-2, .tabbed__buttons-3 {
      color: #630a10 !important;
      font-size: 1.8rem !important;
      padding: 0.8rem 2.2rem !important;
      display: flex !important;
      gap: 0.8rem;
      justify-items: center;
      align-items: center;
      border: none !important; }
      @media (max-width: 37.5em) {
        .tabbed__buttons-1, .tabbed__buttons-2, .tabbed__buttons-3 {
          padding: 1rem 1.5rem !important; } }
    .tabbed__buttons-1 {
      background-color: #ffcb03; }
      .tabbed__buttons-1:hover, .tabbed__buttons-1:active {
        background-color: #e6b703; }
    .tabbed__buttons-2 {
      background-color: #5ec576; }
      .tabbed__buttons-2:hover, .tabbed__buttons-2:active {
        background-color: #55b16a; }
    .tabbed__buttons-3 {
      background-color: #ff585f; }
      .tabbed__buttons-3:hover, .tabbed__buttons-3:active {
        background-color: #e64f56; }
    .tabbed__buttons-active {
      transform: translateY(-20%); }
  .tabbed__content {
    padding: 3rem;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content;
    justify-items: center;
    align-items: start;
    gap: 2rem; }
    @media (max-width: 37.5em) {
      .tabbed__content {
        grid-template-columns: 1fr;
        grid-row: min-content 1fr; } }
    .tabbed__content-box-hidden {
      display: none; }
  .tabbed__icon {
    color: #630a10 !important;
    font-size: 6rem;
    grid-column: 1/1;
    grid-row: 1/1; }
    @media (max-width: 37.5em) {
      .tabbed__icon {
        grid-column: 1/1;
        grid-row: 1/1; } }
  .tabbed__text {
    grid-column: 2/2;
    hyphens: auto;
    grid-row: 1/1; }
    @media (max-width: 37.5em) {
      .tabbed__text {
        grid-column: 1/1;
        grid-row: 2/2;
        text-align: center !important; } }
    .tabbed__text h2,
    .tabbed__text p {
      color: #630a10 !important;
      text-align: left !important;
      margin-top: 2rem;
      width: auto; }
      @media (max-width: 37.5em) {
        .tabbed__text h2,
        .tabbed__text p {
          text-align: center !important; } }
    @media (max-width: 37.5em) {
      .tabbed__text p {
        width: 35ch; } }

.navbar {
  width: 100vw;
  display: flex;
  position: fixed;
  top: 0;
  gap: 3rem;
  background-color: #face7f;
  padding: 0.5rem 3rem;
  justify-content: start;
  align-items: center;
  opacity: 80%;
  transition: all 800ms;
  transition-timing-function: ease-in; }
  @media (max-width: 37.5em) {
    .navbar {
      gap: 4.5rem; } }
  .navbar:hover {
    opacity: 100%; }
  .navbar__logo {
    font-size: 7.5rem;
    color: #630a10;
    fill: #630a10; }
    @media (max-width: 37.5em) {
      .navbar__logo {
        font-size: 10rem; } }
  @media (max-width: 37.5em) {
    .navbar__contact {
      display: none; } }
  @media (max-width: 37.5em) {
    .navbar__btn {
      display: none !important; } }

.btn {
  cursor: pointer;
  text-decoration: none;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: currentColor;
  padding: 0.5rem 2rem;
  border: 1px solid #630a10;
  border-radius: 5rem;
  display: inline-block;
  text-align: center;
  transition: all 700ms;
  transition-timing-function: ease; }
  @media (max-width: 37.5em) {
    .btn {
      font-size: 2.4rem; } }
  .btn-full {
    color: #fff;
    background-color: #5c3d2e; }
    .btn-full:hover {
      background-color: #402b20; }
  .btn-empty:hover {
    background-color: #fbd38c; }

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(243, 226, 230, 0.85);
  backdrop-filter: blur(3px);
  z-index: 10;
  transition: all 200ms; }

.inactive {
  height: 100vh;
  overflow-y: hidden; }

.hidden {
  display: none !important;
  visibility: hidden !important;
  width: 0 !important;
  height: 0 !important;
  z-index: 0 !important; }

.Welcome-msg {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  justify-items: center;
  text-align: center; }
  .Welcome-msg h2 {
    color: #630a10;
    font-size: 2.8rem;
    font-weight: 500;
    letter-spacing: 1.5px; }
  .Welcome-msg h3 {
    color: #630a10;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 0.8px; }
  .Welcome-msg p {
    font-size: 2rem;
    color: #343a40; }
  .Welcome-msg__timeleft {
    font-size: 5rem !important;
    font-weight: 600; }
    @media (max-width: 37.5em) {
      .Welcome-msg__timeleft {
        font-size: 7rem !important; } }
  .Welcome-msg__btn {
    width: min-content !important;
    margin: 0 auto; }

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-10%, -50%);
  transition: all 800ms;
  z-index: 20;
  background-color: #ffffff;
  border-radius: 2rem;
  padding: 3rem;
  box-shadow: 0px 11px 8px 2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 11px 8px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 11px 8px 2px rgba(0, 0, 0, 0.4); }
  @media (max-width: 37.5em) {
    .popup {
      top: 55%;
      left: 50%;
      right: 50%;
      transform: translate(-50%, -50%);
      width: 90%; } }
  .popup-left {
    transition: all 800ms;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(10%, -50%);
    z-index: 20;
    display: flex;
    flex-direction: column;
    gap: 2rem; }
    @media (max-width: 37.5em) {
      .popup-left {
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%); } }
    .popup-left h2 {
      color: #630a10;
      font-size: 2.6rem;
      font-weight: 600;
      letter-spacing: 0.5px; }
      @media (max-width: 37.5em) {
        .popup-left h2 {
          font-size: 2.7; } }
    .popup-left h3 {
      font-size: 1.4rem;
      text-transform: uppercase;
      color: #868e96;
      letter-spacing: 1.5px;
      font-weight: 600; }
      @media (max-width: 37.5em) {
        .popup-left h3 {
          font-size: 1.6rem; } }
    .popup-left p {
      font-size: 1.6rem;
      width: 50ch;
      color: #343a40;
      margin-top: 2rem; }
  .popup__form {
    margin: 0 auto; }
    .popup__form input {
      font-size: 1.8rem;
      font-weight: 300;
      letter-spacing: 1px;
      display: block;
      padding: 2rem 2rem;
      border-radius: 1rem;
      background-color: #ebfff8;
      border: none;
      width: 85%;
      margin-bottom: 2rem; }
      .popup__form input::placeholder {
        color: #630a10;
        font-size: 1.8rem;
        font-weight: 400;
        letter-spacing: 1px;
        opacity: 50%; }
    .popup__form-name {
      display: inline-block !important;
      width: 42.5% !important; }
    .popup__form label {
      display: block;
      color: #630a10;
      font-size: 2.4rem;
      font-weight: 600;
      letter-spacing: 0.5px; }
    .popup__form-terms {
      color: #630a10 !important;
      font-size: 1.4rem !important;
      font-weight: 300 !important;
      display: inline !important; }
    .popup__form-checkbox {
      display: inline-block !important;
      width: min-content !important;
      margin: 2rem 0;
      margin-bottom: 0 !important; }
    .popup__form-para {
      font-size: 1.4rem;
      color: #630a10;
      letter-spacing: 1px; }
    .popup__form-btn {
      display: block !important;
      border: none !important;
      font-size: 2rem;
      padding: 1rem 2rem;
      margin-top: 2rem; }
  .popup__btn {
    text-decoration: none;
    color: #630a10;
    font-size: 4rem;
    position: absolute;
    top: 4%;
    right: 4%; }
