.hero-img {
  grid-column: 1/10;
  grid-row: 1/1;
  width: 100%;
  @include respond(phone) {
    grid-column: 1/-1;
    grid-row: 1/1;
  }
}
.hero {
  grid-column: 10/-1;
  grid-row: 1/1;
  background-color: $color-background;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: 30% 70%;
  row-gap: 0.5rem;
  justify-content: center;
  align-content: center;
  padding: 3rem;
  @include respond(phone) {
    grid-column: 1/-1;
    grid-row: 2/2;
    grid-template-rows: 20% 80%;
  }

  &__header {
    // padding: 1rem;
    // padding-bottom: 3rem;
    grid-column: 1/-1;
    grid-row: 1/1;
    align-self: end;
    justify-self: center;
    @include respond(phone) {
      align-self: center;
    }
  }

  &__btn {
    display: block;
  }

  &__para {
    grid-column: 1/-1;
    grid-row: 2/2;
    align-self: center;
    justify-self: center;
    @include respond(phone) {
      align-self: start;
    }
  }
}
