.joinus {
  height: 80vh;
  grid-column: 1/-1;
  grid-row: 10/10;
  @include respond(phone) {
    grid-row: 17/17;
  }
  background-image: linear-gradient(
      to right bottom,
      rgba(9, 10, 11, 0.45),
      rgba(9, 10, 11, 0.45)
    ),
    url(../../image/footer.jpg);
  background-size: cover;
  background-position: center;

  align-content: center;
  justify-content: center;
  align-items: start;
  justify-items: center;
  padding: 5rem;
  &__content {
    color: #ffffff;

    display: flex;
    flex-direction: column;
    h2 {
      font-family: "Concert One", cursive;
      letter-spacing: 2px;
      font-size: 5rem;
      text-shadow: -0.1px -0.1px 0 #000, 0.1px -0.1px 0 #000,
        -0.1px 0.1px 0 #000, 0.1px 0.1px 0 #000;
    }

    p {
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.8;
      color: $color-white-honeydew-1;
      width: 55ch;

      @include respond(phone) {
        width: auto;
      }
      letter-spacing: 0.8px;
      text-shadow: -0.1px -0.1px 0 #000, 0.1px -0.1px 0 #000,
        -0.1px 0.1px 0 #000, 0.1px 0.1px 0 #000;
    }

    a {
      text-decoration: none;
      color: #ffffff;
      font-size: 2rem;
      font-weight: 800;
      letter-spacing: 2px;
      transition: all 800ms;
      transition-timing-function: ease;

      padding: 0.8rem 1rem;
      border-radius: 10rem;
      margin-left: -0.8rem;
      color: red;
      background-color: hsla(0, 0%, 100%, 0.69);
      text-shadow: none;

      &:hover {
        background-color: hsla(0, 0%, 100%, 0.811);
      }
    }
  }
}
