.spicy {
  &__img {
    width: 100%;
    &-1 {
      grid-column: 1/18;
      grid-row: 4/4;

      @include respond(phone) {
        grid-column: 1/-1;
        grid-row: 7/7;
      }
    }
    &-2 {
      grid-column: -18/-1;
      grid-row: 5/5;
      @include respond(phone) {
        grid-column: 1/-1;
        grid-row: 9/9;
      }
    }
    &-3 {
      grid-column: 1/18;
      grid-row: 6/6;
      @include respond(phone) {
        grid-column: 1/-1;
        grid-row: 11/11;
      }
    }
  }
  &__content {
    grid-column: 18/-1;
    grid-row: 4/4;
    &-1 {
      grid-column: 18/-1;
      grid-row: 4/4;
      @include respond(phone) {
        grid-column: 1/-1;
        grid-row: 8/8;
      }
    }
    &-2 {
      grid-column: 1/-18;
      grid-row: 5/5;
      @include respond(phone) {
        grid-column: 1/-1;
        grid-row: 10/10;
      }
    }
    &-3 {
      grid-column: 18/-1;
      grid-row: 6/6;
      @include respond(phone) {
        grid-column: 1/-1;
        grid-row: 12/12;
      }
    }

    background-color: $color-cream-dark;

    display: flex;
    flex-direction: column;
    justify-content: center;
    @include respond(phone) {
      padding: 3rem 0;
    }

    h2,
    p {
      color: $color-primary !important;
    }
  }
}
