.navbar {
  width: 100vw;

  display: flex;
  position: fixed;
  top: 0;
  gap: 3rem;
  background-color: $color-cream-dark;
  padding: 0.5rem 3rem;
  justify-content: start;
  align-items: center;
  opacity: 80%;
  transition: all 800ms;
  transition-timing-function: ease-in;
  @include respond(phone) {
    gap: 4.5rem;
  }
  &:hover {
    opacity: 100%;
  }

  &__logo {
    font-size: 7.5rem;
    color: $color-primary;
    fill: $color-primary;
    @include respond(phone) {
      font-size: 10rem;
    }
  }

  &__contact {
    @include respond(phone) {
      display: none;
    }
  }

  &__btn {
    @include respond(phone) {
      display: none !important;
    }
  }
}
